#gamescreen {
  width: 600px;
  height: 600px;
  border: 2px salmon solid;
  position: relative;
  box-sizing: content-box;
}

#gamescreen #gamestart {
  margin-top: 40%;
  cursor: pointer;
  background: #777;
  padding: 20px;
  opacity: 0.5;
  color: #fff;
  width: 400px;
  text-align: center;
}

#gamescreen .tail {
  position: absolute;
}

#gamescreen #apple {
  position: absolute;
}
